<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.repository.mybatis.dao.${className}Dao">
	
	<select id="find${className}ById" resultType="${package}.vo.${className}Vo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = ${r"#{id}"}
	</select>
	
	<select id="find${className}List" resultType="${package}.vo.${className}Vo" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
		<#list table.columns as column>
			 ${column.dbName} as ${column.name}<#if column_has_next>,</#if> 
		</#list>
			FROM ${table.dbName} record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
			<#list table.columns as column>
				<if test = ${"\""}${ r"entity." + column.name + r" != null and entity." +column.name + r" != ''" }${"\""}>
					<![CDATA[ and record.${column.dbName}  = ${ r"#{entity." + column.name }} ]]>
				</if>
			</#list>
		</if>
	</sql>

</mapper>