<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.DynamicDao">

	<select id="findTodayCountDynamicByUserId" resultType="Integer" parameterType="java.lang.String">
		select count(1) from dynamic where to_days(create_time) = to_days(now()) and create_user_id = #{userId}
	</select>
	
	<select id="findDynamicInfosById" resultType="cn.aldd.vape.user.micro.vo.DynamicInfosVo" parameterType="java.lang.String">
	SELECT d.*,u.nick_name AS nickName ,u.head_portrait_img AS headPortraitImg FROM (	
			(SELECT r.id as businessId,r.dynamic_id AS dynamicId ,r.create_user_id AS createUserId ,r.create_time AS createTime,r.reward_num AS businessData ,
				'' as commentId , '' as createDyUser , '' as createDyUserImg , 'reward' as type 
				FROM dynamic_reward r WHERE r.dynamic_id = #{id} ORDER BY r.create_time ASC)
		UNION 
			(SELECT f.id as businessId,f.dynamic_id AS dynamicId ,f.create_user_id AS createUserId ,f.create_time AS createTime,'' AS businessData , 
				'' as commentId , '' as createDyUser , '' as createDyUserImg , 'fabulous' as type 
				FROM dynamic_fabulous f WHERE f.dynamic_id = #{id} ORDER BY f.create_time ASC)
		UNION 
			(SELECT c.id as businessId,c.dynamic_id AS dynamicId ,c.create_user_id AS createUserId ,c.create_time AS createTime,c.comment AS businessData ,
			c.comment_id AS commentId,uuu.nick_name AS createDyUser , uuu.head_portrait_img AS createDyUserImg , 'comment' as type 
				FROM dynamic_comment c 
				LEFT JOIN dynamic ddd ON c.dynamic_id = ddd.id 
				LEFT JOIN user uuu ON uuu.id = ddd.create_user_id 
				WHERE c.dynamic_id = #{id} ORDER BY c.create_time DESC)
	) AS d LEFT JOIN user u on u.id = d.createUserId
	</select>
	
	<select id="findDynamicById" resultMap="dynamicResult" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findDynamicList" resultMap="dynamicResult" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	
	<resultMap id="dynamicResult" type="cn.aldd.vape.user.micro.vo.DynamicVo">  
	    <id property="id" column="id"/>  
	    <result property="address" column="address"/>  
	    <result property="content" column="content"/>  
	    <result property="createUserId" column="createUserId"/>  
	    <result property="createTime" column="createTime"/>  
	      
	    <collection property="images" column="dynamic_id" ofType="cn.aldd.vape.user.micro.vo.DynamicImageVo">  
	        <result property="id" column="imageId"/>
	        <result property="dynamicId" column="dynamicId"/>
	        <result property="type" column="type"/>
	        <result property="url" column="url"/>  
	        <result property="createTime" column="imageCreateTime"/>  
	    </collection>  
  	</resultMap>
  	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 record.id as id, 
			 record.address as address, 
			 record.content as content, 
			 record.create_user_id as createUserId, 
			 record.create_time as createTime,
			 dyImage.id as imageId, 
			 dyImage.dynamic_id as dynamicId, 
			 dyImage.url as url, 
			 dyImage.type as type,
			 dyImage.create_time as imageCreateTime
			FROM dynamic record 
			LEFT JOIN dynamic_image dyImage ON record.id = dyImage.dynamic_id
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.address != null and entity.address != ''">
					<![CDATA[ and record.address  = #{entity.address} ]]>
				</if>
				<if test = "entity.content != null and entity.content != ''">
					<![CDATA[ and record.content  = #{entity.content} ]]>
				</if>
				<if test = "entity.createUserId != null and entity.createUserId != ''">
					<![CDATA[ and record.create_user_id  = #{entity.createUserId} ]]>
				</if>
		</if>
		order by record.create_time desc
	</sql>

</mapper>