<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.DynamicImageDao">
	
	<select id="findDynamicImageById" resultType="cn.aldd.vape.user.micro.vo.DynamicImageVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findDynamicImageList" resultType="cn.aldd.vape.user.micro.vo.DynamicImageVo" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<select id="findDynamicImageListOderHot" resultType="cn.aldd.vape.user.micro.vo.DynamicImageVo" >
		SELECT
			 record.id as id, 
			 record.dynamic_id as dynamicId, 
			 record.url as url, 
			 record.type as type, 
			 record.create_time as createTime ,
			 (SELECT SUM(dr.reward_num) FROM dynamic_reward dr WHERE dr.dynamic_id = record.dynamic_id GROUP BY dr.dynamic_id) AS reNum 
			FROM dynamic_image record 
			ORDER BY reNum DESC LIMIT 0,3
	</select>
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 record.id as id, 
			 record.dynamic_id as dynamicId, 
			 record.url as url, 
			 record.type as type, 
			 record.create_time as createTime 
			FROM dynamic_image record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.dynamicId != null and entity.dynamicId != ''">
					<![CDATA[ and record.dynamic_id  = #{entity.dynamicId} ]]>
				</if>
				<if test = "entity.url != null and entity.url != ''">
					<![CDATA[ and record.url  = #{entity.url} ]]>
				</if>
				<if test = "entity.type != null and entity.type != ''">
					<![CDATA[ and record.type  = #{entity.type} ]]>
				</if>
				<if test = "entity.hotIds != null and entity.hotIds.size > 0">
					and record.id not in
					<foreach item="hotId" index="index" collection="entity.hotIds" open="(" separator="," close=")">
			            #{hotId}  
			         </foreach>
				</if>
		</if>
		ORDER BY record.create_time DESC
	</sql>

</mapper>