<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.EncyclopediaDao">
	
	<select id="findEncyclopediaById" resultMap="encyclopediaResult" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findEncyclopediaList" resultMap="encyclopediaResult" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	
	<resultMap id="encyclopediaResult" type="cn.aldd.vape.user.micro.vo.EncyclopediaVo">  
	    <id property="id" column="id"/>  
	    <result property="title" column="title"/>  
	    <result property="author" column="author"/>  
	    <result property="content" column="content"/>  
	    <result property="createTime" column="createTime"/>  
	      
	    <collection property="images" column="encyclopedia_id" ofType="cn.aldd.vape.user.micro.vo.EncyclopediaImageVo">  
	        <result property="id" column="imageId"/>
	        <result property="encyclopediaId" column="encyclopediaId"/>
	        <result property="type" column="type"/>
	        <result property="url" column="url"/>  
	        <result property="createTime" column="imageCreateTime"/>  
	    </collection>  
  	</resultMap>
	
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 record.id as id, 
			 record.title as title, 
			 record.author as author, 
			 record.content as content, 
			 record.create_time as createTime ,
			 image.id AS imageId,
			 image.url AS url,
			 image.type AS type,
			 image.encyclopedia_id AS encyclopediaId,
			 image.create_time AS imageCreateTime
			FROM encyclopedia record
			LEFT JOIN encyclopedia_image image ON record.id = image.encyclopedia_id 
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
			<if test = "entity.id != null and entity.id != ''">
				<![CDATA[ and record.id  = #{entity.id} ]]>
			</if>
			<if test = "entity.title != null and entity.title != ''">
				<![CDATA[ and record.title  = #{entity.title} ]]>
			</if>
			<if test = "entity.author != null and entity.author != ''">
				<![CDATA[ and record.author  = #{entity.author} ]]>
			</if>
			<if test = "entity.content != null and entity.content != ''">
				<![CDATA[ and record.content  = #{entity.content} ]]>
			</if>
			<if test = "entity.keyWord != null and entity.keyWord != ''">
				<![CDATA[ and (record.content LIKE CONCAT('%',#{entity.keyWord},'%')  
						  		or record.author LIKE CONCAT('%',#{entity.keyWord},'%') 
						  		or record.title LIKE CONCAT('%',#{entity.keyWord},'%')   
						  	)]]>
			</if>
		</if>
		order by record.create_time desc
	</sql>

</mapper>