<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.UserEquipmentDao">
	
	<select id="findUserEquipmentById" resultType="cn.aldd.vape.user.micro.vo.UserEquipmentVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findUserEquipmentList" resultType="cn.aldd.vape.user.micro.vo.UserEquipmentVo" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 id as id, 
			 name as name, 
			 create_user_id as createUserId, 
			 create_time as createTime 
			FROM user_equipment record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.name != null and entity.name != ''">
					<![CDATA[ and record.name  = #{entity.name} ]]>
				</if>
				<if test = "entity.createUserId != null and entity.createUserId != ''">
					<![CDATA[ and record.create_user_id  = #{entity.createUserId} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.create_time  = #{entity.createTime} ]]>
				</if>
		</if>
	</sql>

</mapper>