<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.UserSignDao">
	
	
	<select id="findWeekUserSignByUserId" resultType="cn.aldd.vape.user.micro.vo.UserSignVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where 
			date_format(record.create_time,'%Y-%m-%d') 
				BETWEEN date_format(#{start},'%Y-%m-%d') 
			AND 
				date_format(#{end},'%Y-%m-%d') 
		and record.user_id = #{userId}
		order by create_time DESC
	</select>
	
	
	<select id="findUserSignById" resultType="cn.aldd.vape.user.micro.vo.UserSignVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findUserSignList" resultType="cn.aldd.vape.user.micro.vo.UserSignVo" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 record.id as id, 
			 record.user_id as userId, 
			 record.create_time as createTime 
			FROM user_sign record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.userId != null and entity.userId != ''">
					<![CDATA[ and record.user_id  = #{entity.userId} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.create_time  = #{entity.createTime} ]]>
				</if>
		</if>
	</sql>

</mapper>