<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.aldd.vape.user.micro.repository.mybatis.dao.UserDao">
	
	<select id="findUserById" resultType="cn.aldd.vape.user.micro.vo.UserVo" parameterType="java.lang.String">
		<include refid="selectAllColumns" />
		where record.id = #{id}
	</select>
	
	<select id="findUserList" resultType="cn.aldd.vape.user.micro.vo.UserVo" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 id as id, 
			 open_id as openId, 
			 address as address, 
			 age as age, 
			 code as code, 
			 gender as gender, 
			 head_portrait_img as headPortraitImg, 
			 hobby as hobby, 
			 login_name as loginName, 
			 nick_name as nickName, 
			 password as password, 
			 ration as ration, 
			 signature as signature, 
			 skill as skill, 
			 create_time as createTime, 
			 update_time as updateTime 
			FROM user record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.openId != null and entity.openId != ''">
					<![CDATA[ and record.open_id  = #{entity.openId} ]]>
				</if>
				<if test = "entity.address != null and entity.address != ''">
					<![CDATA[ and record.address  = #{entity.address} ]]>
				</if>
				<if test = "entity.age != null and entity.age != ''">
					<![CDATA[ and record.age  = #{entity.age} ]]>
				</if>
				<if test = "entity.code != null and entity.code != ''">
					<![CDATA[ and record.code  = #{entity.code} ]]>
				</if>
				<if test = "entity.gender != null and entity.gender != ''">
					<![CDATA[ and record.gender  = #{entity.gender} ]]>
				</if>
				<if test = "entity.headPortraitImg != null and entity.headPortraitImg != ''">
					<![CDATA[ and record.head_portrait_img  = #{entity.headPortraitImg} ]]>
				</if>
				<if test = "entity.hobby != null and entity.hobby != ''">
					<![CDATA[ and record.hobby  = #{entity.hobby} ]]>
				</if>
				<if test = "entity.loginName != null and entity.loginName != ''">
					<![CDATA[ and record.login_name  = #{entity.loginName} ]]>
				</if>
				<if test = "entity.nickName != null and entity.nickName != ''">
					<![CDATA[ and record.nick_name  = #{entity.nickName} ]]>
				</if>
				<if test = "entity.password != null and entity.password != ''">
					<![CDATA[ and record.password  = #{entity.password} ]]>
				</if>
				<if test = "entity.ration != null and entity.ration != ''">
					<![CDATA[ and record.ration  = #{entity.ration} ]]>
				</if>
				<if test = "entity.signature != null and entity.signature != ''">
					<![CDATA[ and record.signature  = #{entity.signature} ]]>
				</if>
				<if test = "entity.skill != null and entity.skill != ''">
					<![CDATA[ and record.skill  = #{entity.skill} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.create_time  = #{entity.createTime} ]]>
				</if>
				<if test = "entity.updateTime != null and entity.updateTime != ''">
					<![CDATA[ and record.update_time  = #{entity.updateTime} ]]>
				</if>
		</if>
	</sql>

</mapper>